body {
    padding: 0;
    margin: 0;
}

html, body, #map {
    height: 100%;
    font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.btn-black {
  color: #fff;
  background-color: #525252;
  border-color: #000;
}

.btn-black.active, .btn-black:hover {
  color: #fff;
  background-color: #000;
}
